<!DOCTYPE html>
<html lang="PT-BR">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Siskian</title>

  <!-- Fontes customizadas para o template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- CSS customizado do template-->
  <link href="vendor/theme/css/sb-admin-2.css" rel="stylesheet">

  <!-- CSS customizado para as tabelas-->
  <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  <link href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Barra lateral -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
      
      <!-- Marca -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
        <div class="sidebar-brand-text mx-3">SAG</div>
      </a>
      
      <!-- Divisor -->
      <hr class="sidebar-divider">

      <!-- Título da seção -->
      <div class="sidebar-heading">
        Funções
      </div>
      
      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="blank.html">
          <i class="fas fa-truck-loading"></i>
          <span>Entregas</span></a>
      </li>
      
      <!-- Divisor -->
      <hr class="sidebar-divider">

    </ul>
    <!-- Fim da barra lateral -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Conteúdo principal -->
      <div id="content">

        <!-- Barra superior (navbar) -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Navbar user -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Valerie Luna</span>
                <i class="fas fa-rocket"></i>
              </a>

              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Sair
                </a>
              </div>

            </li>

          </ul>

        </nav>
        <!-- Fim da barra superir (navbar) -->

        <!-- Tabela -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Entregas do dia:</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="display nowrap dataTable dtr-inline collapsed" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Classificar</th>
                      <th>NF</th>
                      <th>Endereço</th>
                      <th>Cliente</th>
                      <th>Status</th>
                      <th>Motivo</th>
                      <th>Obs:</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr class="odd parent" role="row">
                      <td class="sorting_1" tabindex="0" >
                      <a 
                          href="#" 
                          data-toggle="modal" 
                          data-target="#editarEntregaModal" 
                          class="btn btn-success btn-circle btn-sm">
                          <i class="fas fa-check"></i>
                      </a>
                        Everton
                      </td>
                      <td>System Architect</td>
                      <td>Edinburgh</td>
                      <td>61</td>
                      <td>2011/04/25</td>
                      <td>$320,800</td>
                      <td>$320,800</td>
                    </tr>
                    <tr class="even" role="row">
                      <td class="sorting_1" tabindex="0" >
                        <a 
                          href="#" 
                          data-toggle="modal" 
                          data-target="#editarEntregaModal" 
                          class="btn btn-success btn-circle btn-sm">
                          <i class="fas fa-check"></i>
                        </a>
                      </td>
                      <td>Accountant</td>
                      <td>Tokyo</td>
                      <td>63</td>
                      <td>2011/07/25</td>
                      <td>$170,750</td>
                      <td>$320,800</td>
                    </tr>
                    <tr>
                      <td>
                        <a 
                          href="#" 
                          data-toggle="modal" 
                          data-target="#editarEntregaModal" 
                          class="btn btn-success btn-circle btn-sm">
                          <i class="fas fa-check"></i>
                        </a>
                      </td>
                      <td>Accountant</td>
                      <td>Tokyo</td>
                      <td>63</td>
                      <td>2011/07/25</td>
                      <td>$170,750</td>
                      <td>$320,800</td>
                    </tr>
                    <tr>
                      <td>
                        <a 
                          href="#" 
                          data-toggle="modal" 
                          data-target="#editarEntregaModal" 
                          class="btn btn-success btn-circle btn-sm">
                          <i class="fas fa-check"></i>
                        </a>
                      </td>
                      <td>Accountant</td>
                      <td>Tokyo</td>
                      <td>63</td>
                      <td>2011/07/25</td>
                      <td>$170,750</td>
                      <td>$320,800</td>
                    </tr>
                    <tr>
                      <td>
                        <a 
                          href="#" 
                          data-toggle="modal" 
                          data-target="#editarEntregaModal" 
                          class="btn btn-success btn-circle btn-sm">
                          <i class="fas fa-check"></i>
                        </a>
                      </td>
                      <td>Accountant</td>
                      <td>Tokyo</td>
                      <td>63</td>
                      <td>2011/07/25</td>
                      <td>$170,750</td>
                      <td>$320,800</td>
                    </tr>
                    <tr>
                      <td>
                        <a 
                          href="#" 
                          data-toggle="modal" 
                          data-target="#editarEntregaModal" 
                          class="btn btn-success btn-circle btn-sm">
                          <i class="fas fa-check"></i>
                        </a>
                      </td>
                      <td>Accountant</td>
                      <td>Tokyo</td>
                      <td>63</td>
                      <td>2011/07/25</td>
                      <td>$170,750</td>
                      <td>$320,800</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
        </div>
        <!-- Fim da Tabela -->

      </div>
      <!-- Fim do Conteúdo principal -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Direitos reservados &copy; Kian Importação Ltda</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- Fim da página de wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

    <!-- EDITAR ENTREGA Modal-->
    <div class="modal fade" id="editarEntregaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Alterar Status da entrega:</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="vendor/theme/js/sb-admin-2.js"></script>

  <!-- TABELA Page level plugins -->
    <script src="vendor/datatables/jquery.dataTables.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.js"></script>
  
  <!-- TABELA Page level custom scripts -->
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="vendor/theme/js/demo/datatables-demo.js"></script>

    <script>
      $(document).ready( function () {
          $('#myTable').DataTable();
      } );

    </script>
  

</body>

</html>
